<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Movie DB</title>
    <!-- <link href="/css/application.css" rel="stylesheet" type="text/css"></link>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script> -->
  </head>
  
  <body>
    <div id="container">

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        <p>Footer details</p>
      </div><!-- /footer -->
      
    </div><!-- /container -->
  </body>
</html>